/* Register.css */

.register-body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 700px;
}

.register-h1 {
    font-size: 28px;
    font-weight: bold;
    color: #25613e;
    margin-bottom: 8px;
}

.register-subtitle {
    font-size: 16px;
    color: #606060;
    margin-bottom: 20px;
}

.register-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.register-option {
    background: #f9f9f9;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-option:hover {
    transform: translateY(-5px);
    border-color: rgba(0,128,128,0.8);
}

.register-option.selected {
    background-color: #81ccbc;
    border-color: #fbfeff;
    color: white;
}

.register-option input[type="radio"] {
    display: none;
}

.register-option label {
    cursor: pointer;
}

.register-option .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.register-client-img,
.register-service-provider-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.register-option.selected .register-client-img,
.register-option.selected .register-service-provider-img {
    transform: scale(1.1);
}

.register-role-text {
    font-size: 14px;
    color: inherit;
    margin-top: 8px;
}

.register-create-account {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: rgba(0,128,128,0.9);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.register-create-account:hover {
    background-color: #0c6e61;
    transform: translateY(-3px);
}

.register-login {
    margin-top: 15px;
    font-size: 14px;
    color: #606060;
}

.register-login a {
    color: #0073b1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.register-login a:hover {
    color: #083d5a;
}
