.register-body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

 .register-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.register-h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.register-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.register-option {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    text-align: center;
}

.register-option:hover {
    border-color: #d36115;
}

.register-option.selected {
    border-color: #d36115;
    background-color: #f0f8ff;
}

.register-option input[type="radio"] {
    display: none;
}

.register-option label {
    cursor: pointer;
    display: block;
}

.register-option .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.register-client-img,
.register-service-provider-img {
    width: 30px; /* Adjust the width as needed */
    height: auto;
    object-fit: contain;
}

.register-create-account {
    background-color: #e0e0e0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: not-allowed;
    transition: background-color 0.3s;
}

.register-create-account:not([disabled]) {
    background-color: #0073b1;
    cursor: pointer;
}

.register-create-account:not([disabled]):hover {
    background-color: #005f90;
}

.register-login {
    margin-top: 10px;
}

.register-login a {
    color: #0073b1;
    text-decoration: none;
}
