.footer-hover-icons .footer-icon {
  transition: color 0.3s ease;
}

.footer-hover-icons .footer-icon:hover {
  color: orange; /* Smooth hover effect */
}

.footer-text-reset:hover {
  color: orange !important;
}
