.sp-gradient-custom-4{
  background: #a86932;
  background: linear-gradient(to right, #008080, #ff6f61);
}

.sp-gradient-custom-4:hover {
  background: linear-gradient(to right, #004d4d, #cc523d); /* Darkened colors on hover */
  transition: background 0.3s ease;
}

.register-sp-body{
  min-height: 100vh;
  background-color: rgb(207, 241, 234); 
}