.sp-gradient-custom-4{
  background: linear-gradient(to right, #139e8c, #129281);
}

.sp-gradient-custom-4:hover {
  background: linear-gradient(to right, #0c6156, #0b5a4f); /* Darkened colors on hover */
  transition: background 0.3s ease;
}

.register-sp-body{
  min-height: 100vh;
  background-color: rgb(207, 241, 234); 
}
