
.register-client-body{
  min-height: 100vh;
  background-color: rgb(207, 241, 234); 
}

.client-gradient-custom-4 {
  /* fallback for old browsers */
  background: #a86932;
  background: linear-gradient(to right, #008080, #ff6f61);
}

.client-gradient-custom-4:hover {
  background: linear-gradient(to right, #004d4d, #cc523d); /* Darkened colors on hover */
  transition: background 0.3s ease;
}
