.contact-section {
    background-color: #f5f5f5;
    min-height: 80vh;
    align-content: center;
    padding: 50px;
  }
  
  .contact-section h1 {
    color: #333333;
  }
  
  .contact-section span {
    font-weight: 600;
  }
  
  .contact-section form .btn-info {
    background-color: #008080;
  }
  
  .contact-section form .btn-info:hover {
    background-color: #054949;
  }


  .contact-firstrow{
    background: linear-gradient(135deg, rgba(47, 226, 226, 0.9), rgba(255,111,97,0.9));
  }