.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    padding: 1em;
    flex-grow: 1; /* This helps to push the footer to the bottom */
  }
  .page-container::after {
    content: "";
    display: table;
    clear: both;
  }
    
  