.forgot-password-page {
  background-color: #f8f9fa;
  min-height: 100vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.forgot-password-card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.forgot-password-btn {
  background-color: #008080;
  color: white;
}

.forgot-password-btn:hover {
  background-color: #005f5f;
  color: #ffffff;
}

.forgot-password-btn:focus {
  background-color: #005f5f;
  color: #ffffff;
}

@media (max-width: 768px) {
  .forgot-password-card {
    padding: 20px;
  }
}
