
.login-bg {
  background-color: rgb(207, 241, 234); 
  min-height: 100vh;
}

.login-card {
  width: 500px;
  padding: 20px;
  z-index: 1;
  background-color: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-text {
  color: #333333;
  font-size: 18px;
}

.login-input {
  border: 1px solid #008080; /* Teal border */
  border-radius: 6px;
}

.login-gradient-custom {
  /* Matching your theme's gradient */
  background: linear-gradient(to right, #008080, #ff6f61);
}

.login-gradient-custom:hover {
  background: linear-gradient(to right, #004d4d, #cc523d); /* Darkened colors on hover */
  transition: background 0.3s ease;
}

.login-create-new button:hover {
  background: #ff6f61; /* Coral color for create new button */
  color: white;
  transition: color background 0.3s ease;
}

.login-forpass {
  color: #008080; /* Teal color */
}

@media (min-width: 768px) {
  .login-bg {
    height: 100vh !important;
  }
}
